{{ define "main" }}
  <article class="flex flex-col items-center justify-center h-full mt-10 text-center">
    <nav class="place-self-start">
      <a href="{{ "" | relURL }}" class="text-neutral-500">&larr; {{ i18n "nav.home" }}</a>
    </nav>
    <header>
      <h1 class="mt-2 mb-6 text-4xl font-extrabold text-center text-neutral-800 dark:text-white">
        {{ .Title | emojify }}
      </h1>
    </header>
    {{ with .Site.Params.Author.wma }}
      <div class="flex flex-col flex-wrap min-w-full mt-4 sm:min-w-0">
        {{ range $links := . }}
          {{ range $type, $data := $links }}
            {{ $href := $data }}
            {{ $icon := $type }}
            {{ $text := i18n (printf "link.%s" $type) }}
            {{ $target := "_blank" }}
            {{ $title := "" }}
            {{ if reflect.IsMap $data }}
              {{ with $data.href }}{{ $href = . }}{{ end }}
              {{ with $data.icon }}{{ $icon = . }}{{ end }}
              {{ with $data.text }}{{ $text = . }}{{ end }}
              {{ with $data.target }}{{ $target = . }}{{ end }}
              {{ with $data.title }}{{ $title = . }}{{ end }}
            {{ end }}
            <a
              class="link link-{{ $type }} mb-3 min-w-full rounded py-2 text-lg sm:px-24"
              href="{{ $href }}"
              target="{{ $target }}"
              {{ with $title }}title="{{ . }}"{{ end }}
              rel="me noopener noreferrer"
            >
              {{- with $icon -}}
                <span class="mr-1">{{ partial "icon.html" . }}</span>
              {{- end -}}
              {{ $text | emojify }}
            </a>
          {{ end }}
        {{ end }}
      </div>
    {{ end }}
    <section class="prose dark:prose-invert">
      {{ .Content | emojify }}
    </section>
  </article>
{{ end }}
