.link-atletiekunie {
  background: rgb(241, 238, 243);
  background: linear-gradient(
    90deg,
    rgb(246, 244, 247) 0%,
    rgb(248, 247, 247) 50%,
    rgb(243, 242, 241) 100%
  );
}
.link-world-athletics {
    background: rgb(131, 58, 180);
    background: linear-gradient(
      90deg,
      rgb(207, 136, 255) 0%,
      rgba(253, 29, 255, 1) 50%,
      rgba(252, 176, 255, 1) 100%
    );
  }
.link-world-para-athletics {
    background: rgb(131, 58, 180);
    background: linear-gradient(
      90deg,
      rgba(131, 58, 255, 1) 0%,
      rgba(253, 29, 255, 1) 50%,
      rgba(252, 176, 255, 1) 100%
    );
  }
  .link-world-master-athletics {
    background: rgb(131, 58, 180);
    background: linear-gradient(
      90deg,
      rgba(131, 58, 255, 1) 0%,
      rgba(253, 29, 255, 1) 50%,
      rgba(252, 176, 255, 1) 100%
    );
  }